 .gradientText {
     position: relative;
     color: transparent;
     transition-duration: 0.3s;
     background: linear-gradient(to right, green 0%, green 50%, transparent 50%) 100% 0 / 200% 200% #474E51;
     background-clip: text;
  }
  
  .gradientText:hover {
     background-position: 0 0;
     transform: scale(1.2);
  }
 
 .my-nav {
   color: white;
 }